@model MVCOgrenciKayit.Models.Table

@{
    ViewBag.Title = "Delete";
}

<h3>Öğrenci Kayıt Sil</h3>

<h3>Bu öğrencinin kaydını silmek istediğinden emin misin ? </h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="margin-bottom:5px">
            @Html.DisplayNameFor(model => model.OGRAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OGRAD)
        </dd>
        <br />
        <dt style="margin-bottom:5px">
            @Html.DisplayNameFor(model => model.OGRSOYAD)
        </dtstyle="margin-bottom:5px">

        <dd>
            @Html.DisplayFor(model => model.OGRSOYAD)
        </dd>
        <br />
        <dt style="margin-bottom:5px">
            @Html.DisplayNameFor(model => model.OGRMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OGRMAIL)
        </dd>
        <br />
        <dt style="margin-bottom:5px">
            @Html.DisplayNameFor(model => model.OGRFOTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OGRFOTO)
        </dd>
        <br />
        <dt style="margin-bottom:5px">
            @Html.DisplayNameFor(model => model.OGRADRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OGRADRES)
        </dd>
        <br />
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" style="margin-right:20px" /> |
            @Html.ActionLink("Öğrenci Listesine Geri Dön", "Index")
        </div>
    }
</div>
